@import "@styles/settings/__settings";
@import "@styles/util/__util";

.formContainer {

  text-align: center;
  padding-right: 4em;

  form {
    margin-bottom: 2em;
  }
  h2 {
    margin-top: 0;
  }

  input,
  label,
  textarea {
    width: 100%;
    text-align: left;
    max-width: none;
  }

  textarea {
    min-height: 6em;
  }

  label {
    display: block;
    margin-bottom: 1em;
  }

  form {
    max-width: 40em;
    margin: 0 auto;
  }

}

.previewContainer {

  figure {

    position: relative;
    aspect-ratio: 1920 / 1080;
    background: $color-gray-100;
    margin: 0;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }

  }

}

.previewImages {

  display: flex;

  img {
    display: block;
    min-width: 0;
  }

}

.previewImage {

  width: 100%;
  flex-grow: 1;
  padding: 0 1em;

  &[data-is-loaded="true"] {

    p {
      height: auto;
    }

  }

  p {

    height: 40vh;
    background-color: $color-gray-100;

    [data-is-loading="true"] & {
      @extend %loading;
    }

  }

}